
CleanArchitecture.xcodeproj/project.xcworkspace/xcuserdata/hasanserdarbakirtas.xcuserdatad/UserInterfaceState.xcuserstate

iOS_MVI.xcodeproj/project.xcworkspace/xcuserdata/hasanserdarbakirtas.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store
